:root {
    --primary-color: #eac9c1;
    --secondary-color: #d3ab9e;
    --third-color: #ebd8d0;
    --fourth-color: #fffbff;
    --font-family: 'Trebuchet MS, sans-serif';
    --font-size: 16px;
    --line-height: 1.5;
}

body {
    background-color: var(--fourth-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3 {
    color: var(--secondary-color);
    margin: 0 0 10px;
}

p {
    margin: 0 0 15px;
}

header{
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    margin: 20px 0;
}
