@font-face {
  font-family: 'Molle';
  src: url('fonts/Molle/Molle-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Zen Antique';
  src: url('fonts/Zen_Antique/ZenAntique-Regular.ttf') format('truetype');
}


:root {
    --primary-color: #A67F8E;
    --secondary-color: #6C534E;
    --third-color: #C89FA3;
    --fourth-color: #DBB3B1;

  --font-title: 'Molle', cursive;
  --font-body: 'Zen Antique', serif;

    --font-size: 16px;
    --line-height: 1.5;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; 
    background-color: #f4f4f4; 
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    height: 50px; 
}

.title h1 {
    margin: 0;
    font-size: 24px;
    font-family: var(--font-title);
    color: var(--secondary-color);
}

nav {
    display: flex;
    gap: 15px;
}

.menu {
    margin: 0;
    cursor: pointer;
    color: var(--primary-color);
    font-family: var(--font-body);
    font-weight: bold;
    text-transform: uppercase; 
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-body);
    font-size: var(--font-size);
    line-height: var(--line-height);

    background-color: var(--fourth-color);
    color: var(--primary-color);
}